:root {
  --background-main-color: #ffffff;
  --background-second-color: #2e2f42;
  --portfolio-background-color: #ffffff;
  --portfolio-titel-color: #2e2f42;
  --portfolio-text-color: #434455;
  --portfolio-title-font-weiht: 500;
}
body {
  font-family: "roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*-----------HEADER--------------*/
.header {
  background: var(--background-main-color);
}
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.header-list {
}
.header-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link:is(:hover, :focus) {
  color: #4d5ae5;
}
.header-item {
}
.header-contact {
}
.header-contact-list {
}
.header-contact-item {
}
.header-contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contact-link:is(:hover, :focus) {
  color: #4d5ae5;
}
/*-----------HERO--------------*/
.hero {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
}
/*-----------ADVANTAGES--------------*/
.advantages {
  background: #e5e5e5;
}
.advantages-list {
}

.advantages-item {
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*-----------ADVANTAGES--------------*/
.works {
  background: #e5e5e5;
}
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/*-----------WORKS--------------*/
.works {
  background: #e5e5e5;
}
.works-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.works-list {
}
.list {
}
.works-item {
}
/*----------TEAM--------------*/

.team {
  background: #e5e5e5;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-list {
}
.list {
}
.team-item {
}
.team-title-item {
  font-size: 20px;
  line-height: 1.2x;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*---------FOOTER--------------*/
.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.link {
}
.footer-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/*---------------FOOTER-----------------*/
/*----------PORTFOLIO--------------*/
.portfolio {
  background: var(--portfolio-background-color, #ffffff);
}
.portfolio-list {
}
.list {
}
.portfolio-item {
}
.portfolio-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: --portfolio-background-color #f4f4fd;
}
.portfolio-btn:is(:hover, :focus) {
  color: #ffffff;
  background: #404bbf;
}
/*----------BANKING--------------*/
.banking {
  background: var(--portfolio-background-color) #ffffff;
}
.banking-list {
}
.list {
}
.banking-item {
}
.banking-title {
  font-weight: var(--portfolio-title-font-weiht) 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--portfolio-titel-color) #2e2f42;
}
.banking-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: --portfolio-text-color #434455;
}
/*----------SERVICES--------------*/

.services {
  background: var(--portfolio-background-color, #ffffff);
}
.services-list {
}
.list {
}
.services-item {
}
.services-title {
  font-weight: --portfolio-title-font-weiht 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: --portfolio-titel-color #2e2f42;
}
.services-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: --portfolio-text-color #434455;
}
/*----------FRESH--------------*/

.fresh {
  background: var(--portfolio-background-color, #ffffff);
}
.fresh-list {
}
.list {
}
.fresh-item {
}
.fresh-title {
  font-weight: var(--portfolio-title-font-weiht, 500);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--portfolio-titel-color, #2e2f42);
}
.fresh-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio-text-color) #434455;
}
